<h2>Log in</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name), layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-3") do |f| %>
  
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  <%= f.password_field :password, autocomplete: "current-password" %>
  <%= f.check_box :remember_me %>
  <%= f.primary "Log in" %>
<% end %>

<%= render "users/shared/links" %>
