<div class="col-sm-3">
	<%= image_tag current_user.avatar.url %>
</div>
<div class="col-sm-6">
	<div class="col-sm-3">First Name:</div>
	<div class="col-sm-3"><%= current_user.first_name %></div>
</div>
<div class="col-sm-6">
	<div class="col-sm-3">Last Name:</div>
	<div class="col-sm-3"><%= current_user.last_name %></div>
</div>
<div class="col-sm-6">
	<div class="col-sm-3">Email:</div>
	<div class="col-sm-3"><%= current_user.email %></div>
</div>
<div class="col-sm-6">
	<div class="col-sm-3">Date of Birth:</div>
	<div class="col-sm-3"><%= current_user.date_of_birth.strftime("%m/%d/%Y") %></div>
</div>
